### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin
*.iml
.idea/
.env/
.cache/

### Maven ###
target/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Generated Output ###
resources/decompiled_apks/
resources/apk/
resources/taie_output/
output/
src/main/java/com/thorfinn/output/
thorfinn_report.html
